@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Agenda Online - PSI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <AuthorizeView>
            @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/usuarios">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Gerenciar Usuários
                    </NavLink>
                </div>
            }
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    string ADMINISTRATION_ROLE = "Administrators";
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}